.btn {
  width: 40%;
}

.btn-primary {
  background-color: var(--color-warning);
}

.btn-primary:hover {
  background-color: var(--color-warning-hover);
}

.btn-danger {
  background-color: var(--color-error);
}

.btn-danger:hover {
  background-color: var(--color-error-hover);
}

button:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-bg-light);
}

.theme-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-primary);
  transition: color 0.3s ease;
}

.theme-toggle:hover {
  color: var(--color-primary-hover);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border: 1px solid var(--color-bg-contrast);
}

.table th {
  background-color: var(--color-bg-contrast);
  color: var(--color-text-primary);
}

.table th:hover {
  background-color: var(--color-bg-light);
}

.table td {
  background-color: var(--color-bg-light);
  color: var(--color-text-secondary);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 15px;
  margin: 0 10px;
  font-size: 16px;
  background-color: var(--color-bg-contrast);
  color: var(--color-text-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: var(--color-primary);
  color: white;
}

.pagination button:disabled {
  background-color: var(--color-bg-contrast);
  color: var(--color-text-secondary);
  cursor: not-allowed;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 910px) {
  .btn {
    width: 100%;
  }
}
